body, html {
	width: 100%;
	height: 100%;
	margin:0px;
   	font-family:sans-serif;
}

body {
	background-color: #e0eee6;
}

#content {
	height: 100%;
	width: 100%;
}

/* header elements */

#top {
	background-color: white;
	height: 70px;
	width: 210px;
	position:absolute;
	left: 480px;
	top:25px;
	border:2px solid;
	border-radius:7px;
	-moz-border-radius:7px;
}

#logo {
	height:60px;
	margin:5px;
	margin-left:8px;
}

/* restaurant elements */

#places {
	background-image: url('../images/floor.png');
	position: absolute;
	top: 140px;
	left:20px;
	height:1443px;
	width:884px;
}

/* control elements */
#controls {
	background-color: #252322;
    width: 100%;
    height: 100px;
    padding: 10px;
    position: fixed;
}

#controls div {
	float:left;
}

#controls div div{
	clear:left;
}

#table-selected {
	color: #ffffff;
	font-size:large;
	margin-top:10px;
}
#table-selected p{
	margin:1px;	
}


#table-selected-number{
font-size:large;
min-height:40px;
}


#bounds {
    margin-bottom:13px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

#bounds label {
	float: left;
    width:84px;
}

#bounds label span {
    text-align:center;
    padding:3px 0px;
    display:block;
    font-size: x-large;
}

#bounds label input {
   	display:none;
}

#bounds input:checked + span {
    background-color:#404040;
    color:#F7F7F7;
}

#bounds span:hover {
	background-color:#919191;
}

.radio-border{
border-color: #404040;
border-style:solid;
border-width: 0px;
}
.border-right{
border-right-width: 1px;
}
.border-left{
border-left-width: 1px;
}
.border-top{
border-top-width:1px;
}
.border-bottom{
border-bottom-width:1px;
}

#teacher-input {
	margin-bottom:20px;
	width: 180px;
	margin-top:10px;
}

#teacher-input input{
	display:none;
}

#teacher-input label {
    width:24px;
    height:24px;
    border-radius:3px;
    background-color: #EFEFEF;
    position:absolute;
}

#teacher-input input:checked +label #box {
    background-color:#ff7900;
}

#teacher-input label #box:hover{
    background-color:#919191;
}

#teacher-input #box {
	background-color: #EFEFEF;
	position:absolute;
	border-radius:3px;
	top:-7px;
	left:-2px;
	width:18px;
	height:18px;
}

#teacher-input span {
	margin:10px;
	margin-left:5px;
}

#occupied-status span {
	margin:10px;
	margin-left:5px;
}

.button{
	background-color: #ff7900;
	border-radius:4px;
	border-color:#d0861d;
	border-width: 3px;
	width: 160px;
	font-size: x-large;
	display:block;
	color:#252322;
	text-decoration:none;
	text-align: center;
	height:80px;
	margin-top:16px;
}

.white-text{
	color: #ffffff;
	font-size:large;
	float:left;
	margin-bottom:5px;
}

.button:hover{
/* 	background-color: #d2492e; */
}
#selection-box{
	margin: 0 auto;
	left:4%;
	height:100%;
	border-color: #ffd2a9;
	border-style:solid;
	border-width: 1px;
	border-top-width:0px;
	border-bottom-width:0px;
	padding:20px;
	width:290px;
}

#selection-box a{
	margin-bottom:15px;
	margin-left:-20px;
}
#selection-box img{
	margin-bottom:30px;
}


.centerdiv {
	margin: 0 auto !important;
}

.button-div {
    margin: 0px 0px 5px 15px;
}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.landing-button{
	width: 330px;
	height:58px;
	display:block;
	background-repeat:no-repeat;
	text-decoration:none;
	font-weight: bold;
}

#reception-button{
	background-image: url('../images/icon-reception.png');
}

#hall-button{
	background-image: url('../images/icon-hall.png');
}

#reports-button{
	background-image: url('../images/icon-report.png');
}

#settings-button{
	background-image: url('../images/icon-config.png');
	cursor:pointer;
	margin-bottom:0px !important;
}

#monthPicker {
	align:left;
	padding:10px;
	
}

#reportMonth {
	height: 30px;
	width: 100px;
	padding-left: 5px;
	padding-right:5px;
	font-size: large;
	margin-top:-10px;
	margin-left:10px;
}

#mainHolder {
	padding-top:130px;
}

.just-teacher-checkbox {
	position:relative;
	top:40px;
	left:-282px;
	color:white;
	font-size:18px;
}

#settings-div {
	width:280px;
	margin-left:-10px;
	background-color:#ffa1c9;
	height:118px;
	padding:15px;
	display:none;
}

#recent-time {
	margin-top:15px;
	margin-bottom:15px;
}

#config-checkbox input{
	margin-left:3px!important;
}

#hall1{
	margin-right:0px;
}

#config-checkbox label:hover{
	cursor:pointer;
}