#places{
	width: 100%;
}

body, html {
    background-color:#FFF
}

#blockWrapper {
    width:280px;
}

.box span {
    text-align:center;
    padding:3px 0px;
    display:block;
    font-size: xx-large;
    text-align:center;
    height:100%;
    width:100%;
    pointer-events:none;
    margin-top:25%;
}

.box {
	border-radius:4px;
   	border:1px solid #D0D0D0;
   	background-color:#EFEFEF;
   	float: left;
   	width:91px;
   	height:91px;
}

#blockWrapper label input {
   	display:none;
}

.recent {
	background-color: #c7e3ab;
}

.selected{
    background-color:#252322 !important;
    color:#F7F7F7;
}

#blockWrapper input:checked +.box:hover{
    background-color:#575757;
}

.box:hover {
/* 	background-color:#919191; */
}
.ocupation{
	font-size: x-large;
	list-style:none;
	height: 43px;	
	background-color: #fff;
	padding: 7px 0px 7px 25px;
	
}

#selected-tables{
	 color:#F7F7F7;
}

#free-button {
    position: fixed;
    bottom: 10px;
    left: 50%;
    font-size: 60px;
    border: #2e2e2e dotted 2px;
    border-radius:40px;
    width: 80px;
    height: 80px;
    background-color: #49cf31;
    margin-top: 20px;
    margin-left: 6px;
    cursor: pointer;
}

#free-button:hover {
    background-color: #77ff52;
    border: #2e2e2e solid 2px;
}

#free-button:active {
    background-color: #49cf31;
    border: #2e2e2e solid 2px;
}

#footer {
    height: 50px;
}

#footer button {
    margin: 0 auto;
    font-size: 20px;
    height: 40px;
    width: 80px;
    margin-top: 5px;
    border-radius:5px;
    background-color: #49cf31;
    margin-left: 50%;
}