#old_browser_msg {
	display: none;
	float: right;
	clear: right;
	width: 500px;
	color: white;
	background: #D53E4F;
	border: 1px solid #9E0142;
	padding: 5px;
	margin-right: 24px;
}

#state_all_label {
	display: inline !important;
}

body, html, #wrapper {
    width: 100%;
}

#container {
    margin: 0 auto;
    width: 1115px;
}

#scale {
	float: right;
}

#scale ul {
	list-style-type: none;
}

#scale li {
	float: left;
	width: 15px;
	height: 15px;
}

#vis {
	clear: both;
	margin-bottom: 20px;
	height: 370px;
    width: 1150px;
}

#tiles {
	font-size: 12px;
	clear: both;
}

#tiles th {
	vertical-align: top;
	padding: 3px;
	color: #444;
}

#tiles tr th {
	padding-top: 12px;
}

#tiles tr:first-child th {
	padding-top: 3px;
}

#tiles td {
	-webkit-perspective: 1000;
}

#tiles .tile {
	width: 45px;
	height: 45px;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.7s;
}

.face {
	position: absolute;
	-webkit-backface-visibility: hidden;
	width: 43px;
	height: 43px;
	background: #eee;
	border: 1px solid white;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#tiles td.sel .face {
	border-color: black;
}

.face.hidden {
	display: none;
}

#tiles td.dim .screen {
	opacity: 0.6;
}

.face.back {
	-webkit-transform: rotateY(180deg);
}

.tile .screen {
	background: white;
	opacity: 0.0;
	width: 36px;
	height: 36px;
	position: absolute;
	z-index: 1337;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid white;
}

#map {
	float: left;
	width: 320px;
	height: 202px;
	margin-bottom: 15px;
}

	#map path.state {
		fill: #ddd;
		stroke: white;
		stroke-width: 1px;
	}
	
	#map path.state:hover {
		fill: #5eab1f;
		fill: #999;
		cursor: pointer;
	}
	
	#map path.state.sel {
		fill: #444;
		cursor: default;
	}

#hourly_values svg text.hidden {
	display: none;
}


#header h1, #header p#subtitle {
	margin-left: 18px;
}

#footer {
	clear: both;
	margin: 25px !important;
}

h2 {
	margin-top: 20px;
	font-size: 28px;
	line-height: 28px;
	margin-bottom: 10px;
	width: 500px;
}

/* 11 buckets purple to red */

.rbow2 .q1-11 {
	background: #5E4FA2;
}

.rbow2 .q2-11 {
	background: #3288BD;
}

.rbow2 .q3-11 {
	background: #66C2A5;
}

.rbow2 .q4-11 {
	background: #ABDDA4;
}

.rbow2 .q5-11 {
	background: #E6F598;
}

.rbow2 .q6-11 {
	background: #FFFFBF;
}

.rbow2 .q7-11 {
	background: #FEE08B;
}

.rbow2 .q8-11 {
	background: #FDAE61;
}

.rbow2 .q9-11 {
	background: #F46D43;
}

.rbow2 .q10-11 {
	background: #D53E4F;
}

.rbow2 .q11-11 {
	background: #9E0142;
}

#legend {
    clear: left;
    margin-left: 24px;
    width: 165px;
    color: #777;
    margin-top: 10px;
    background: #f3f3f3;
    border: 1px solid #f0f0f0;
    overflow: hidden;
    padding: 5px 7px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 11px;
    line-height: 11px;
    margin-bottom: 10px;
    margin-right: 24px;
}

#legend ul {
    list-style-type: none;
    overflow: hidden;
    clear: both;
}

#legend li {
    float: left;
    margin-right: 1px;
    width: 14px;
    height: 14px;
}

.face.back p {
    margin: 12px 0 0 12px;
    font-weight: bold;
}

.q9-11.face.back p,
.q10-11.face.back p,
.q11-11.face.back p{
    color: #FFF;
}

div.controls {
    width: 240px;
}