.place{
	width: 46px;
	height: 57px;
	background-image:url(/img/tablemap.png);
	background-position:0px 0px;
}

.place:hover{
	cursor: pointer;
	background-image:url(/img/tablemap.png);
	background-position:-46px 0px;
}

.selected-place{
	background-position:-92px 0px;
}

.selected-place:hover{
	cursor: pointer;
	background-position:-138px 0px;
}

.occupied-place, .occupied-place:hover {
	cursor: default;
	background-position:-184px 0px !important;
}
.place-name{
	position:absolute;
	top:18px;
	width:42px;
	let:10px;
	text-align:center;
	font-size:large;
	pointer-events:none;
}

.round-place {
	background-image:url(/img/segmentmap.png) !important;
	width: 58px;
	height: 44px;
}
.round-place.place:hover{
	cursor: pointer;
	background-image:url(/img/tablemap.png);
	background-position:-58px 0px;
}
.round-place.selected-place{
	background-position:-117px 0px;
}

.round-place.selected-place:hover{
	cursor: pointer;
	background-position:-176px 0px;
}

.round-place.occupied-place, .round-place.occupied-place:hover {
	cursor: default;
	background-position:-234px 0px !important;
}

/*fix para velocidade de mobile*/
.ui-shadow,
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a,
.ui-body-b,
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b,
.ui-bar-c,
.ui-body-c,
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c,
.ui-bar-c,
.ui-body-d,
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d,
.ui-bar-d,
.ui-body-e,
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e,
.ui-bar-e,
.ui-overlay-shadow,
.ui-shadow,
.ui-btn-active,
.ui-body-a,
.ui-bar-a {
    text-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

#controls {
    position:fixed;
    z-index: 10000;
    margin-top:-2px;
    background-color: #252322;
    width: 100%;
    height: 20px;
    padding: 10px;
    position: fixed;
}

#controls div {
    float:left;
}

#controls div div{
    clear:left;
}

#places {
    background-image: url('/img/floor.png');
    position: absolute;
    top: 40px;
    left:15px;
    height:1443px;
    width:884px;
}

#floating-controls {
    position: fixed;
    top: 35%;
    left: 16px;
    z-index: 10000;
    width: 90px;
    text-align: center;
}

#button-ok {
    font-size: 60px;
    border: #2e2e2e dotted 2px;
    border-radius:40px;
    width: 80px;
    height: 80px;
    background-color: #49cf31;
    cursor: pointer;
}

#button-ok:hover {
    background-color: #77ff52;
    border: #2e2e2e solid 2px;
}

#button-ok:active {
    background-color: #49cf31;
    border: #2e2e2e solid 2px;
}

#button-ok-teacher {
    font-size: 40px;
    border: #2e2e2e dotted 2px;
    border-radius:30px;
    width: 60px;
    height: 60px;
    background-color: #E9DC51;
    margin-top: 20px;
    margin-left: 6px;
    cursor: pointer;
}

#button-ok-teacher:hover {
    background-color: #f2f74f;
    border: #2e2e2e solid 2px;
}

#button-ok-teacher:active {
    background-color: #E9DC51;
    border: #2e2e2e solid 2px;
}

#button-ok-label {
    font-size: 14px;
}

#button-ok-teacher-label {
    font-size: 12px;
}

.small-control-button {
    font-size: 20px;
    border: #2e2e2e dotted 2px;
    border-radius:20px;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 6px;
    cursor: pointer;
}

.small-control-label {
    font-size: 12px;
}