.place{
	width: 46px;
	height: 57px;
	background-image:url(/img/tablemap.png);
	background-position:0px 0px;
}

.place:hover{
	cursor: pointer;
	background-image:url(/img/tablemap.png);
	background-position:-46px 0px;
}

.selected-place{
	background-position:-92px 0px;
}

.selected-place:hover{
	cursor: pointer;
	background-position:-138px 0px;
}

.occupied-place, .occupied-place:hover {
	cursor: default;
	background-position:-184px 0px !important;
}
.place-name{
	position:absolute;
	top:18px;
	width:42px;
	let:10px;
	text-align:center;
	font-size:large;
	pointer-events:none;
}

.round-place {
	background-image:url(/img/segmentmap.png) !important;
	width: 58px;
	height: 44px;
}
.round-place.place:hover{
	cursor: pointer;
	background-image:url(/img/tablemap.png);
	background-position:-58px 0px;
}
.round-place.selected-place{
	background-position:-117px 0px;
}

.round-place.selected-place:hover{
	cursor: pointer;
	background-position:-176px 0px;
}

.round-place.occupied-place, .round-place.occupied-place:hover {
	cursor: default;
	background-position:-234px 0px !important;
}

/*fix para velocidade de mobile*/
.ui-shadow,
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a,
.ui-body-b,
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b,
.ui-bar-c,
.ui-body-c,
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c,
.ui-bar-c,
.ui-body-d,
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d,
.ui-bar-d,
.ui-body-e,
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e,
.ui-bar-e,
.ui-overlay-shadow,
.ui-shadow,
.ui-btn-active,
.ui-body-a,
.ui-bar-a {
    text-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}